*,
body,
html {
    background-color: white;
    margin: 0;
    scroll-behavior: smooth;
}

.prevent-select {
    user-select: none;
}

.header {
    font-size: xx-large;
    text-align: center;
    color: black;
}

#Main_Header {
    font-size: xx-large;
    width: large;
    border: 15px solid black;
    padding: 10px;
    margin: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.invisible {
    color: white;
}

#days_left_text_box {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}